{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid vh-100" style="background: linear-gradient(to right, #222222, #333333);">
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-5" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.8);">
        <h2 class="text-center mb-4" style="font-weight: 600; color: #333;">Welcome Back</h2>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" style="background-color: #333; border: none; font-weight: 600;">Log In</button>
          </div>
        </form>
        <hr>
        <p class="text-center"><a href="{% url 'accounts:password_reset' %}" style="color: #333;">Forgot Password?</a></p> <p class="text-center">Don't have an account? <a href="{% url 'accounts:signup' %}" style="color: #333;">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}