{% extends "base.html" %}
{% block title %}Cookie Policy - Atlas Competition{% endblock %}

{% block content %}
<div class="container my-5">
   <div name="termly-embed" data-id="1562d93b-d51c-49a1-bdbc-b2165539568a"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">(function(d, s, id) {
  var js, tjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://app.termly.io/embed-policy.min.js";
  tjs.parentNode.insertBefore(js, tjs);
}(document, 'script', 'termly-jssdk'));</script>
{% endblock %}
