{% extends "base.html" %}
{% block title %}Privacy Policy - Atlas Competition{% endblock %}

{% block content %}
<div class="container my-5">
    <div name="termly-embed" data-id="a10f56c3-88aa-4e82-b918-1ceeb61f645c"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
(function(d, s, id) {
  var js, tjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://app.termly.io/embed-policy.min.js";
  tjs.parentNode.insertBefore(js, tjs);
}(document, 'script', 'termly-jssdk'));
</script>
{% endblock %}
