{% extends 'base.html' %}
{% load age_filter %}
{% load height_filter %}

{% block content %}
<div class="container-fluid">
  <h2 class="text-center"><b>{{ competition.name }} - Commentator Card</b></h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr class="text-center">
          <th>Athlete Name</th>
          <th>Location</th>
          <th>Team</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for athlete in athletes %}
        <tr class="text-center">
          <td class="text-end" style="padding:0px;">
            <span style="font-size:1.2rem; color:#2e2d30;">
              {% if athlete.nickname %}
              <span class="text-capitalize" style="font-size:1rem; color:#2e2d30;">({{ athlete.nickname }})</span>
              {% endif %}
              {{ athlete.user.first_name|upper }}
            </span>
            <span style="font-weight: bold; font-size:2rem; color:#2e2d30;">{{ athlete.user.last_name|upper }}</span><br>
            <a href="{% url 'competitions:athlete_profile' athlete.id %}" class="text-decoration-none">
              <i class="fa-regular fa-user" style="color: black;"></i>
            </a>
            {{ athlete.gender|capfirst }}
            {{ athlete.date_of_birth|age }}
            {{ athlete.height|height }}/{{ athlete.weight }} Pounds
          </td>
          <td style="padding:0px;">
            <table class="table table-bordered table-sm" style="margin:0px; padding: 0px;">
              <tr>
                <td style="background:lightgray; width: 100px;"><b>Hometown</b></td>
                <td class="text-capitalize" style="width: 150px;">{{ athlete.city }}, {{ athlete.state }}</td>
              </tr>
              <tr>
                <td style="background:lightgray; width: 100px;"><b>Home Gym</b></td>
                <td style="width: 150px;">{{ athlete.home_gym|capfirst }}</td>
              </tr>
            </table>
          </td>
          <td style="padding:0px;">
            <table class="table table-bordered table-sm" style="margin:0px; padding: 0px;">
              <tr>
                <td style="background:lightgray; width: 75px;"><b>Coach</b></td>
                <td class="text-capitalize" style="width: 100%;">
                  {% if athlete.coach %}
                    {{ athlete.coach }}
                  {% else %}
                    None
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td style="background:lightgray; width: 75px;"><b>Team</b></td>
                <td style="width: 50px;">
                  {% if athlete.team_name %}
                    {{ athlete.team_name }}
                  {% else %}
                    None
                  {% endif %}
                </td>
              </tr>
            </table>
          </td>
          <td colspan="2" style="width: 40%; padding:1px;">
           <div class="notes-container">
    <ul id="notes-{{ athlete.id }}" class="notes-list" style="list-style-type: none; padding: 0;"> {##}
      {% for note in athlete.commentatornote_set.all %}
        {% if note.competition == competition %}
          <li style="display: flex; justify-content: space-between; align-items: center;">
  <div style="text-align: left; margin-right: 20px;">-{{ note.note }}</div> 
  <a href="#" data-note-id="{{ note.id }}" class="delete-note">
    <i class="fas fa-times" style="color: red; padding-right: 13px;"></i>
  </a>
</li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="#" data-bs-toggle="modal" data-bs-target="#addNoteModal-{{ athlete.id }}">Add Note</a>
  </div>
            <div class="modal fade" id="addNoteModal-{{ athlete.id }}" tabindex="-1" aria-labelledby="addNoteModalLabel-{{ athlete.id }}" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addNoteModalLabel-{{ athlete.id }}">Add Note for {{ athlete.user.first_name }} {{ athlete.user.last_name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="addNoteForm-{{ athlete.id }}">
                      {% csrf_token %}
                      <input type="hidden" name="athlete_id" value="{{ athlete.id }}">
                      <textarea class="form-control" name="note_text" rows="3"></textarea>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addNote({{ athlete.id }})">Save Note</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
function addNote(athleteId) {
  var form = document.getElementById('addNoteForm-' + athleteId);
  var noteText = form.elements['note_text'].value;

  console.log("Adding note for athlete:", athleteId);

  fetch('{% url "competitions:commentator_comp_card" competition.id %}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded',
      'X-CSRFToken': '{{ csrf_token }}'
    },
    body: new URLSearchParams({
      'athlete_id': athleteId,
      'note_text': noteText
    })
  })
  .then(response => {
    console.log("Response status:", response.status);
    // No need to parse the response as JSON
    if (response.redirected) {
      console.log("Redirecting to:", response.url);
      window.location.href = response.url; // Redirect the page
    } else {
      // Handle non-redirect responses (e.g., errors)
      console.error("Error adding note:", response);
    }
  })
  .catch(error => {
    console.error("Fetch error:", error);
  });
}
$(document).ready(function() {
  $('.delete-note').on('click', function(e) {
    e.preventDefault();
    var noteId = $(this).data('note-id');
    var athleteId = $(this).closest('tr').find('.notes-list').attr('id').replace('notes-', '');

    if (confirm("Are you sure you want to delete this note?")) {
      $.ajax({
        url: '{% url "competitions:commentator_comp_card" competition.id %}',
        type: 'POST',
        data: {
          'delete_note': true,
          'note_id': noteId,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          if (response.status === 'success') {
            // Remove the note from the list
            $('#notes-' + athleteId + ' li[data-note-id="' + noteId + '"]').remove();
            location.reload();
          } else {
            // Handle errors
            alert("Error deleting note.");
          }
        },
        error: function() {
          // Handle AJAX errors
          alert("An error occurred.");
        }
      });
    }
  });
});
</script>
{% endblock %}