{% extends 'base.html' %}
{% load multiply %}
{% load static %}
{% load timezone %}

{% block content %}
<div class="container-fluid p-0" style="margin-left: 10px; margin-right: 10px;">
  <div class="row">
    <div class="col-md-9 p-0">
      <div class="table-responsive">
        <table class="table table-sm table-bordered align-middle">
          <thead class="align-middle text-center">
            <!-- Multi-row Header -->
            <tr>
              <th rowspan="2">Athlete</th>
              <th rowspan="2">Rank</th>
              <th rowspan="2">Total Points</th>
              {% for event_order in ordered_events %}
              <th colspan="3">{{ event_order.event.name }} <br>
                <small class="text-muted">({{ event_order.event.get_weight_type_display }})</small>
              </th>
              {% endfor %}
            </tr>
            <tr>
              {% for event_order in ordered_events %}
              <th>Result</th>
              <th>Points</th>
              <th>Event Rank</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="text-center">
            {% for group_key, athlete_competitions in grouped_athletes.items %}
            <tr>
              <td colspan="{{ ordered_events|length|multiply:3|add:3 }}" style="background-color: #f0f0f0; font-weight: bold; text-align: left; width: 100%;">
                {{ group_key.0|capfirst }} {{ group_key.1 }} ({{ group_key.2 }})
              </td>
            </tr>
            {% for athlete_competition in athlete_competitions %}
            <tr>
              <td class="text-start">
                <a href="{% url 'competitions:athlete_profile' athlete_competition.athlete.id %}" class="link-offset-2 link-dark link-underline link-underline-opacity-0">
                  <i class="fa-regular fa-user" style="color: black;"></i>
                  {{ athlete_competition.athlete.user.first_name|capfirst }} {{ athlete_competition.athlete.user.last_name|capfirst }}
                </a>
              </td>
              <td class="rank">{{ athlete_competition.rank }}</td>
              <td class="total-points">{{ athlete_competition.total_points }}</td>
              {% for event_order in ordered_events %}
              <td class="result-value" data-athlete="{{ athlete_competition.pk }}" data-event="{{ event_order.pk }}">
                {% for result in athlete_competition.results.all %}
                {% if result.event_order == event_order %}
                {{ result.value }}
                {% endif %}
                {% endfor %}
              </td>
              <td class="points-earned" data-athlete="{{ athlete_competition.pk }}" data-event="{{ event_order.pk }}">
                {% for result in athlete_competition.results.all %}
                {% if result.event_order == event_order %}
                {{ result.points_earned }}
                {% endif %}
                {% endfor %}
              </td>
              <td class="event-rank" data-athlete="{{ athlete_competition.pk }}" data-event="{{ event_order.pk }}">
                {% for result in athlete_competition.results.all %}
                {% if result.event_order == event_order %}
                {{ result.event_rank }}
                {% endif %}
                {% endfor %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3 p-0" style="background-color: #f8f9fa;">
      <div id="chat-container">
        <div id="chat-header">
          <h3>{{ competition.name }}</h3>
        </div>
        <div id="chat-box">
          {% for message in messages %}
          <div class="chat-message {% if message.user == request.user %}sent-by-me{% endif %}" data-message-id="{{ message.id }}">
            <div class="user-info">
              <div class="user-icon">{{ message.user.username|slice:":1"|upper }}</div>
            </div>
            <div class="message-content">
              <div>
                <span class="username">{{ message.user.username }}</span>: {{ message.message }}
              </div>
              <div class="{% if message.user == request.user %}timestamp-right{% else %}timestamp{% endif %}">
                {{ message.timestamp|time_ago }}
              </div>
            </div>
          </div>
          {% empty %}
          <p>No messages yet.</p>
          {% endfor %}
        </div>

        <form id="chat-form">
          <div class="input-container">
            <input type="text" id="chat-message-input" autocomplete="off" placeholder="Type your message...">
            <button type="submit" id="chat-message-submit">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    const competitionId = {{ competition.pk }};
    const socket = new WebSocket(`ws://${window.location.host}/ws/competitions/${competitionId}/`);

    socket.onmessage = function (e) {
        try {
            const data = JSON.parse(e.data);
            const message = data.message;

            if (message.type === 'score') {
                const athleteId = message.athlete_id;
                const eventId = message.event_id;
                const value = message.value;
                const pointsEarned = message.points_earned;
                const totalPoints = message.total_points;
                updateScorecard(athleteId, eventId, value, pointsEarned, totalPoints);
            }
        } catch (error) {
            console.error('Error handling WebSocket message:', error);
        }
    };

    function updateScorecard(athleteId, eventId, value, pointsEarned, totalPoints) {
        const resultCell = document.querySelector(`.result-value[data-athlete="${athleteId}"][data-event="${eventId}"]`);
        const pointsEarnedCell = document.querySelector(`.points-earned[data-athlete="${athleteId}"][data-event="${eventId}"]`);
        const totalPointsCell = document.querySelector(`.total-points[data-athlete="${athleteId}"]`);

        if (resultCell) {
            resultCell.textContent = value;
        }
        if (pointsEarnedCell) {
            pointsEarnedCell.textContent = pointsEarned;
        }
        if (totalPointsCell) {
            totalPointsCell.textContent = totalPoints;
        }
    }
</script>
<script>
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + {{ competition.pk }} + '/'
    );
    const chatBox = document.getElementById('chat-box');

    // Function to generate a random color based on username
    function getUserColor(username) {
        // Simple hash function to generate a color from the username
        let hash = 0;
        for (let i = 0; i < username.length; i++) {
            hash = username.charCodeAt(i) + ((hash << 5) - hash);
        }
        let color = '#';
        for (let i = 0; i < 3; i++) {
            let value = (hash >> (i * 8)) & 0xFF;
            color += ('00' + value.toString(16)).substr(-2);
        }
        return color;
    }

    // Update user icons with random colors
    document.addEventListener('DOMContentLoaded', function () {
        const userIcons = document.querySelectorAll('.user-icon');
        userIcons.forEach(icon => {
            const username = icon.closest('.chat-message').querySelector('.username').textContent;
            icon.style.backgroundColor = getUserColor(username);
        });
    });

    // Function to get CSRF token from cookies (add this to your script)
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // Handle new messages from websocket
    chatSocket.onmessage = function (e) {
        try {
            const data = JSON.parse(e.data);
            const messageElement = document.createElement('div');
            const isSentByMe = data.user === '{{ request.user.username }}';
            messageElement.classList.add('chat-message');
            if (isSentByMe) {
                messageElement.classList.add('sent-by-me');
            }
            messageElement.dataset.messageId = data.message_id;

            // Add a new likeBubble div to each new message
            messageElement.innerHTML = `
                <div class="user-info">
                    <div class="user-icon" style="background-color: ${getUserColor(data.user)};">${data.user.slice(0, 1).toUpperCase()}</div>
                </div>
                <div class="message-content">
                    <div><span class="username">${data.user}</span>: ${data.message}</div>
                    <div class="${isSentByMe ? 'timestamp-right' : 'timestamp'}">
                        ${data.timestamp}
                    </div>
                </div>
            `;

            // Append the new message element to the chat box
            chatBox.appendChild(messageElement);
            chatBox.scrollTop = chatBox.scrollHeight; // Scroll to the bottom
        } catch (error) {
            console.error('Error parsing WebSocket message:', error);
        }
    };

    chatSocket.onerror = function (error) {
        console.error('WebSocket error:', error);
    };

    document.addEventListener('DOMContentLoaded', function () {
        // Form Submission Logic
        const chatForm = document.getElementById('chat-form');
        if (chatForm) {
            chatForm.addEventListener('submit', function (e) {
                e.preventDefault();
                console.log('Form submission prevented.');

                const messageInputDom = document.getElementById('chat-message-input');
                const message = messageInputDom.value;

                console.log('Sending message:', message);

                chatSocket.send(JSON.stringify({
                    'message': message
                }));

                messageInputDom.value = '';
            });
        } else {
            console.error('Chat form not found!');
        }
    });
</script>
{% endblock %}