{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center">{% if event %}Edit Event{% else %}Create Event{% endif %}</h2>
    <form method="post" action="{% if event %}{% url 'competitions:update_event' event.pk %}{% else %}{% url 'competitions:create_event' competition_pk=competition.pk %}{% endif %}">
        {% csrf_token %}

        <div class="form-group mb-3">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group mb-3">
            {{ form.event_base|as_crispy_field }}
        </div>
        <div class="form-group mb-3">
            {{ form.weight_type|as_crispy_field }}
        </div>
        <div class="form-check mb-3">
            <input 
                type="checkbox" 
                class="form-check-input" 
                id="id_has_multiple_implements" 
                name="has_multiple_implements"
                {% if form.has_multiple_implements.value %}checked{% endif %}>
            <label class="form-check-label" for="id_has_multiple_implements">Multiple Implements?</label>
        </div>
        <div class="form-group mb-3" id="number-of-implements-container" style="{% if not form.has_multiple_implements.value %}display: none;{% endif %}">
            {{ form.number_of_implements|as_crispy_field }}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-100">
                {% if event %}Update Event{% else %}Create Event{% endif %}
            </button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const hasMultipleImplementsCheckbox = document.getElementById('id_has_multiple_implements');
        const numberOfImplementsContainer = document.getElementById('number-of-implements-container');

        function toggleNumberOfImplementsField() {
            if (hasMultipleImplementsCheckbox.checked) {
                numberOfImplementsContainer.style.display = 'block';
            } else {
                numberOfImplementsContainer.style.display = 'none';
            }
        }

        // Initial toggle
        toggleNumberOfImplementsField();

        // Toggle field on checkbox change
        hasMultipleImplementsCheckbox.addEventListener('change', toggleNumberOfImplementsField);
    });
</script>
{% endblock %}
